*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  .container{
    min-height: 100vh;
    margin-bottom: 4%;
  }
  
  body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  html{
    overflow-x: hidden;
  }
  
  .header h1{
    font-weight: 400;
    color: white;
    padding: 2%;
    font-size: 25px;
  }
  
  .header{
    width: 100vw;
    padding: 0 2rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 84);
    border-bottom: 4px solid gray;
  }
  
  .navbar-list{
    display: flex;
    gap:2rem;
    list-style: none;
  }
  
  .navbar-link:link,
  .navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transition: all 0.3s;
  }
  
  .navbar-link:hover,
  .navbar-link:active{
    color: black;
  }
  
  .mobile-nav-icon{
    width: 1.5rem;
    height: 4rem;
  }
  
  .mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
    color: white;
  }
  
  .mobile-nav-icon[name="close-outline"]{
    display: none;
  }
  
  
.main{
    padding-left:13%;
    padding-top: 3%;
    width: 90%;
}

.main h1{
    margin-bottom: 3%;
    font-size: 40px;
    font-weight:400;
}

.main p img{
    width: 60%;
    height: 50%;
    float :right;
    margin:20px;
}

.main .card1{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    float:left;
    width:45%;
    border-radius: 10px;
    padding: 3%;
    margin-right:3%;
    margin-top: 3%;
}

.main .card2{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    float:right;
    width:45%;
    border-radius: 10px;
    padding: 3%;
    margin-right:3%;
    margin-top: 3%;
}

.main .card3{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    float:left;
    width:45%;
    border-radius: 10px;
    padding: 3%;
    margin-right:3%;
    margin-top: 3%;
}

.main .card4{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    float:right;
    width:45%;
    border-radius: 10px;
    padding: 3%;
    margin-right:3%;
    margin-top: 3%;
}

@media (max-width: 62em){
  .main .card1{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    width:97%;
    border-radius: 10px;
    padding: 3%;
    margin-top: 3%;
  }
  
  .main .card2{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    width:97%;
    border-radius: 10px;
    padding: 3%;
    margin-top: 3%;
  }
  
  .main .card3{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    width:97%;
    border-radius: 10px;
    padding: 3%;
    margin-top: 3%;
  }
  
  .main .card4{
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: rgb(245, 245, 245);
    width:97%;
    border-radius: 10px;
    padding: 3%;
    margin-top: 3%;
  }
}

.main h1{
  margin-bottom: 1%;
  font-size: 40px;
  font-weight:400;
}

.main p img{
  width: 60%;
  height: 50%;
<<<<<<< HEAD
  float: right;
  margin: 2px;
=======
  float :right;
  margin:20px;
>>>>>>> d3206e58836a551d2870447d48583ed3ddbbd0c0
}

.footer{
  width: 100vw;
  background-color: lightgray;
  text-align: center;
  height: fit-content;
  margin-top: auto;
}

.footer p{
  text-align: center;
  padding: 5%;
}

@media(max-width:62em){
  .mobile-navbar-btn{
    display: block;
    z-index: 999;
  }

  .header{
    position: relative;
  }

  .header h2{
    width: 40%;
  }

  .navbar {
    width: 60%;
    height: fit-content;
    background-color:black;
    position: absolute;
    top: 0;
    left: 40%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items:center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border: 1px solid lightgray;
  }

  .navbar-list{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3%;
    padding-top: 3%;
  }

  .active .navbar{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
    display: none;
  }
}

@media(max-width:35em){
  .header{
    padding: 0 1rem;
  }
}