* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.header h1 {
  font-weight: 400;
  color: white;
  padding: 2%;
  font-size: 25px;
}

.main h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 2% 2% 2% 0;
}

.header {
  width: 100vw;
  padding: 0 2rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 31, 84);
  border-bottom: 4px solid gray;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}


.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: gray;
}

.mobile-nav-icon {
  width: 1.5rem;
  height: 4rem;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
  color: white;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;

}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin-bottom: 4%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


#slider {
  overflow: hidden;
  margin-top: 2%;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -200%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -300%;
  }
}

.main {
  width: 60%;
  padding-left: 10%;
  padding-top: 2%;
  float: left;
}

.news {
  width: 25%;
  border: 1px solid lightgray;
  padding: 15px;
  margin-top: 3%;
  float: right;
  max-height: fit-content;
  margin-right: 5%;
  border-radius: 10px;
  border-top: 3px solid lightgray;
}

@media (max-width:62em) {
  .news {
    width: 85%;
    border: 1px solid lightgray;
    max-height: fit-content;
    border-radius: 10px;
    border-top: 3px solid lightgray;
    margin-bottom: 4%;
  }

  .main {
    width: 85%;
  }
}

.footer {
  width: 100vw;
  background-color: lightgray;
  text-align: center;
  height: fit-content;
  margin-top: auto;
}

.footer p {
  text-align: center;
  padding: 5%;
}

@media(max-width:62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }

  .header {
    position: relative;
  }

  .header h2 {
    width: 40%;
  }

  .navbar {
    width: 40%;
    height: fit-content;
    background-color: black;
    position: absolute;
    top: 0;
    left: 60%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.4s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border: 1px solid lightgray;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3%;
    padding-top: 3%;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
    margin-bottom: 5%;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

@media(max-width:35em) {
  .header {
    padding: 0 1rem;
  }

  .header h1 {
    font-size: 20px;
  }

  .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: block;
    position: absolute;
    top: -8%;
    left: 90%;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
    margin-bottom: 5%;
    position: absolute;
    top: -7%;
    left: 90%;
  }
}